[submodule "cracking-the-coding-interview"]
	path = cracking-the-coding-interview
	url = https://github.com/alfmunny/cracking-the-coding-interview.git
[submodule "metaprogramming-ruby"]
	path = metaprogramming-ruby
	url = https://github.com/alfmunny/notes-metaprogramming-ruby.git
